<%= render 'layouts/header' %>
	<section class="job-bg user-page">
		<div class="container">
			<div class="row text-center">
				<!-- user-login -->
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div class="user-account job-user-account">
						<h2>Create An Account</h2>
							<ul class="nav nav-tabs text-center" role="tablist">
								<li role="presentation" class="active"><a href="#find-job" aria-controls="find-job" role="tab" data-toggle="tab">Find A Job</a></li>
								<!--<li role="presentation"><a href="#post-job" aria-controls="post-job" role="tab" data-toggle="tab">Post A Job</a></li>-->
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="find-job">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="form-group">
                      <%= f.email_field :email, autofocus: true, :class => "form-control", placeholder: "Email" %>
                      <% if @validatable %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br /><br />
                      <%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "Password" %>
                      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "Confirm Password" %>
                    </div>
                    <%= f.submit "Registration", :class => "btn" %>
                  <% end %>
								</div>
							</div>
					</div>
				</div><!-- user-login -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- signup-page -->
  <%= render 'layouts/footer' %>
