<section class=" job-bg ad-details-page">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <li>Postear Oferta </li>
      </ol><!-- breadcrumb -->
      <h2 class="title">Postea tu Oferta</h2>
    </div><!-- banner -->

    <% if @gig.errors.any? %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <ul>
        <% @gig.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="job-postdetails">
      <div class="row">
        <div class="col-md-8">
        <%= form_for @gig do |f| %>
          <fieldset>
            <div class="section postdetails">
              <h4>Postea tu Oferta<span class="pull-right">* Campos Necesarios</span></h4>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Nombre de la Oferta<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.text_field :name, :class => 'form-control', placeholder: "ejm: Trabajo por 3 Horas como Modelo Protocolo BTL" %>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Tiempo de Oferta (Ejm: 12)<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.text_field :offer, :class => 'form-control', placeholder: "ejm: 12" %>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Lapso de Tiempo de Oferta (Ejm: days)<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.select :time_off_id, options_from_collection_for_select(TimeOff.all, :id, :name), {}, :class => 'form-control' %>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Oferta Monetaria<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.text_field :budget, :class => 'form-control', placeholder: "ejm: $120.000 * Hora" %>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Categoria<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), {}, :class => 'form-control' %>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Ubicación<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.text_field :location, :class => 'form-control', placeholder: "ejm: Bogota, Medellin" %>
                  </div>
                </div>
                <div class="row form-group item-description">
                  <label class="col-sm-3 label-title">Experiencia Requerida</label>
                  <div class="col-sm-9">
                    <%= f.text_area :experience, :class => 'form-control', placeholder: "Ejm: Experiencia en ...", rows: "8" %>
                  </div>
                </div>
                <div class="row form-group item-description">
                  <label class="col-sm-3 label-title">Responsabilidades</label>
                  <div class="col-sm-9">
                    <%= f.text_area :responsabilities, :class => 'form-control', placeholder: "Ejm: Su responsabilidad sera ...", rows: "8" %>
                  </div>
                </div>
                <div class="row form-group item-description">
                  <label class="col-sm-3 label-title">Descripción (Más de 250 caracteres)<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.text_area :description, :class => 'form-control', placeholder: "Escribe mas de 250 caracteres con la descripcioón del trabajo", rows: "8" %>
                  </div>
                </div>
                <div class="row form-group item-description">
                  <label class="col-sm-3 label-title">Lista de Habilidades Requeridas (Separadas por coma)<span class="required">*</span></label>
                  <div class="col-sm-9">
                    <%= f.text_area :skill_list, :class => 'form-control', placeholder: "ejm: Modelo, Logistica, Servicial, etc.", rows: "3" %>
                  </div>
                </div> <br>
                <%= f.submit "Postear Oferta", :class => "btn btn-primary" %>
            </div>
          </fieldset>
        <% end %>
        </div>
        <!-- quick-rules -->
        <div class="col-md-4">
          <div class="section quick-rules">
            <h4>Reglas Básicas</h4>
            <p class="lead">Postear una oferta es gratis! sin embargo, aqui tenemos algunas reglas simples:</p>

            <ul>
              <li>Make sure you post in the correct category.</li>
              <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
              <li>Do not upload pictures with watermarks.</li>
              <li>Do not post ads containing multiple items unless it's a package deal.</li>
              <li>Do not put your email or phone numbers in the title or description.</li>
              <li>Make sure you post in the correct category.</li>
              <li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
              <li>Do not upload pictures with watermarks.</li>
              <li>Do not post ads containing multiple items unless it's a package deal.</li>
            </ul>
          </div>
        </div><!-- quick-rules -->
      </div><!-- photos-ad -->
    </div>
  </div><!-- container -->
</section><!-- main -->
