    <section class=" page job-list-page">
      <div class="container">
        <div class="category-info">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="accordion">
                <!-- panel-group -->
                <div class="panel-group" id="accordion">

                  <!-- panel -->
                  <div class="panel panel-default panel-faq">
                    <!-- panel-heading -->
                    <div class="panel-heading">
                      <div class="panel-title"></div>
                      <a data-toggle="collapse" data-parent="#accordion" href="#accordion-six">
                        <h4>Busqueda Avanzada<span class="pull-right"><i class="fa fa-plus"></i></span></h4>
                      </a>
                    </div><!-- panel-heading -->

                    <div id="accordion-six" class="panel-collapse collapse in">
                      <!-- panel-body -->
                      <div class="panel-body">
                        <%= form_tag search_gigs_path, method: :get do |f| %>
                          <span>Buscar</span>
                          <%= text_field_tag :search, nil, class: "form-control", placeholder: "ejm: Protocolo, Mercadeo BTL, Deportivos, Entretenimiento" %>
                          <span>Categoria</span><br><br>
                          <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name), class: "form-control" %> <br>
                          <span>Ubicación</span>
                          <%= text_field_tag :location, nil, class: "form-control", placeholder: "Bogotá, Medellin" %>
                          <%= submit_tag "Buscar", class: "btn btn-primary" %>
                        <% end %>
                      </div><!-- panel-body -->
                    </div>
                  </div> <!-- panel -->
                 </div><!-- panel-group -->
              </div>
            </div><!-- accordion-->

            <!-- recommended-ads -->
            <div class="col-sm-8 col-md-9">
              <div class="section job-list-item">
                <div class="featured-top">
                  <h4>Viendo 25 resultados de <%= @gigs.total_count %> ofertas</h4>
                  <div class="dropdown pull-right">
                    <div class="dropdown category-dropdown">
                      <h5>Filtrar por:</h5>
                      <a data-toggle="dropdown" href="#"><span class="change-text">Relevancia</span><i class="fa fa-caret-square-o-down"></i></a>
                      <ul class="dropdown-menu category-change">
                        <li><%= link_to "Antiguos", gigs_path(sort_by: "oldest") %></li>
                        <li><%= link_to "Nuevos", gigs_path(sort_by: "newest") %></li>
                        <li><%= link_to "Nombre", gigs_path(sort_by: "name") %></li>
                      </ul>
                    </div><!-- category-change -->
                  </div>
                </div><!-- featured-top -->

                <% @gigs.each do |gig| %>
                <div class="job-ad-item">
                  <div class="item-info">
                    <div class="ad-info">
                      <span><%= link_to gig.name, gig, class: "title"%></span>
                      <div class="ad-meta">
                        <ul>
                          <li><i class="fa fa-map-marker" aria-hidden="true"></i><%= link_to gig.location, gig %></li>
                          <li><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</li>
                          <li><i class="fa fa-money" aria-hidden="true"></i>$<%= link_to gig.budget, gig %></li>
                          <li><i class="fa fa-bookmark-o" aria-hidden="true"></i><%= link_to gig.category.name, gig %></li>
                          <li><i class="fa fa-calendar" aria-hidden="true"></i>Hace <%= link_to time_ago_in_words(gig.created_at), gig %></li>
                        </ul>
                      </div><!-- ad-meta -->
                    </div><!-- ad-info -->
                    <% if user_signed_in? && current_user.staff? %>
                      <div class="button">
                        <%= link_to "Aplicar", gig, class: "btn btn-primary"%>
      								</div>
                    <% end %>
                  </div><!-- item-info -->
                </div><!-- job-ad-item -->
                <% end %>

                <!-- pagination  -->
                <div class="text-center">
                  <%= paginate @gigs %>
                </div><!-- pagination  -->
              </div>
            </div><!-- recommended-ads -->
          </div>
        </div>
      </div><!-- container -->
    </section><!-- main -->
