	<section class=" job-bg page  ad-profile-page">
		<div class="container">
			<div class="breadcrumb-section">
				<ol class="breadcrumb">
					<li><%= link_to "Home", root_path  %></li>
					<li>Mis Ofertas</li>
				</ol>
				<h2 class="title">Mis Ofertas</h2>
			</div><!-- breadcrumb-section -->

			<div class="job-profile section">
				<div class="user-profile">
					<div class="user-images">
						<img src="/assets/user.jpg" alt="User Images" class="img-responsive">
					</div>
					<div class="user">
						<h2>Hola, <a href="#"><%= current_user.name %></a></h2>
						<h5>Ultimo Login: Hace <%= time_ago_in_words(current_user.last_sign_in_at) %></h5>
					</div>

					<div class="favorites-user">
						<div class="my-ads">
							<a href="applied-job.html"><%= @gigs.count %><small>Ofertas</small></a>
						</div>
					</div>
				</div><!-- user-profile -->

				<ul class="user-menu">
					<li class="active">
						<%= link_to "Mis Ofertas" %>
					</li>
				</ul>
			</div><!-- ad-profile -->

			<div class="section trending-ads latest-jobs-ads">
				<h4>Mis Ofertas</h4>

        <% @gigs.each do |gig| %>
				<div class="job-ad-item">
					<div class="item-info">
						<div class="ad-info">
							<span><%= link_to gig.name, gig, class: "title"%></span>
							<div class="ad-meta">
								<ul>
									<li><i class="fa fa-map-marker" aria-hidden="true"></i><%= link_to gig.location, gig %></li>
									<li><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</li>
									<li><i class="fa fa-money" aria-hidden="true"></i>$<%= link_to gig.budget, gig %></li>
									<li><i class="fa fa-bookmark-o" aria-hidden="true"></i><%= link_to gig.category.name, gig %></li>
									<li><i class="fa fa-calendar" aria-hidden="true"></i>Hace <%= link_to time_ago_in_words(gig.created_at), gig %></li>
									<div class="pull-right">
										<% if gig.open %>
	                    <li><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Abierto</a></li>
	                  <% else %>
	                    <li><a href="#"><i class="fa fa-folder" aria-hidden="true"></i>Cerrado</a></li>
	                  <% end %>
	                  <li><i class="fa fa-tags" aria-hidden="true"></i>Propuestas (<%= gig.proposals.count %>)</li>
	                  <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><%= link_to "Edit", edit_gig_path(gig.id) %> </li>
										<li><i class="fa fa-times" aria-hidden="true"></i><%= link_to "Delete", gig, method: :delete, data: {confirm: "Are you sure?"} %></li>
									</div>
								</ul>
							</div><!-- ad-meta -->
						</div><!-- ad-info -->
					</div><!-- item-info -->
				</div><!-- ad-item -->
        <% end %>
			</div><!-- latest-jobs-ads -->
		</div><!-- container -->
	</section><!-- ad-profile-page -->
