	<section class="job-bg page job-details-page">
		<div class="container">
			<div class="breadcrumb-section">
				<ol class="breadcrumb">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to @gig.category.name, @gig %></li>
				</ol><!-- breadcrumb -->
				<h2 class="title"><%= @gig.category.name %></h2>
			</div><!-- breadcrumb -->

			<div class="job-details">
				<div class="section job-ad-item">
					<div class="item-info">

						<div class="ad-info">
							<span><span><a href="#" class="title"><%= @gig.name %></a></span></span>
							<div class="ad-meta">
								<ul>
									<li><i class="fa fa-map-marker" aria-hidden="true"></i><%= @gig.location %></li>
									<li><i class="fa fa-clock-o" aria-hidden="true"></i><%= @gig.offer %> <%= @gig.time_off.name %>s</li>
									<li><i class="fa fa-money" aria-hidden="true"></i>$<%= @gig.budget %></li>
									<li><i class="fa fa-bookmark-o" aria-hidden="true"></i><%= @gig.category.name %></li>
									<li><i class="fa fa-calendar" aria-hidden="true"></i>Hace <%= time_ago_in_words(@gig.created_at) %></li>
								</ul>
							</div><!-- ad-meta -->
						</div><!-- ad-info -->
					</div><!-- item-info -->
				</div><!-- job-ad-item -->

				<div class="job-details-info">
					<div class="row">
						<div class="col-sm-8">
							<div class="section job-description">
								<div class="description-info">
									<h1>Descripción de la Oferta</h1>
									<p><span><%= @gig.description %></p>
								</div>
								<div class="description-info">
									<h1>Experiencia Requerida</h1>
									<p><span><%= @gig.experience %></p>
								</div>
								<div class="description-info">
									<h1>Responsabilidades Requeridas</h1>
									<p><span><%= @gig.responsabilities %></p>
								</div>
								<div class="responsibilities">
									<h1>Habilidades Requeridas</h1>
									<% @gig.skills.each do |skill| %>
										<li><%= skill.name %></li>
									<% end %>
								</div>
							</div>

							<% if user_signed_in? && @gig.user != current_user && current_user.staff? %>
								<%= form_for :proposal, url: gig_proposals_path(@gig) do |f| %>
									<fieldset class="post-resume">
										<div class="section express-yourself">
											<h4>Enviar Propuesta</h4>
											<div class="row form-group">
												<label class="col-sm-4 label-title">Propuesta</label>
												<div class="col-sm-8">
													<%= f.text_field :bid, class: "form-control", placeholder: "ejm: $120.000" %>
												</div>
											</div>
											<div class="row form-group additional-information">
												<label class="col-sm-4 label-title">Descripción</label>
												<div class="col-sm-8">
													<%= f.text_area :description, class: "form-control", placeholder: "Descripción" %>
												</div>
											</div>
											<div class="form-group">
											  <%= f.file_field :document %>
											</div>
											<br>
											<%= submit_tag "Enviar Propuesta", class: "btn btn-primary" %>
										</div><!-- postdetails -->
									</fieldset>
								<% end %>
							<% elsif @gig.user == current_user && @gig.open == true %>
								<h4>No puedes postularte a una oferta propia!</h4>
							<% elsif @gig.open == false %>
								<h4>Esta oferta esta cerrada</h4>
							<% else %>
								<h4> Entra o Registrate para Postularte!</h4>
								<%= link_to 'Entrar', new_user_session_path, class: "btn btn-primary bookmark" %>
								<br><br>
							<% end %>

							<% if @awarded_proposal.present? %>
								<div class="section job-description">
									<div class="responsibilities">
										<h1>Propuesta Ganadora:</h1>
										<div "panel panel-default">
											<div class="panel-heading">
												<div class="row">
													<div class="col-md-4">
														<h3 class="panel-title">
															<%= @awarded_proposal.user %>
														</h3>
													</div>
													<div class="col-md-4">
														<h3 class="panel-title">
															<%= number_to_currency(@awarded_proposal.bid, precision:0) %>
														</h3>
													</div>
													<div class="col-md-4">
														<h3 class="panel-title">
															<%= @awarded_proposal.created_at.strftime("%B, %d, %Y") %>
														</h3>
													</div>
												</div>
											</div>
											<div class="panel-body">
												<%= @awarded_proposal.description %>
											</div>
										</div>
									</div>
								</div>
							<% end %>

							<div class="section job-description">
								<div class="responsibilities">
									<h1>Propuestas:</h1>
									<% if @proposals.present? %>
										<% @proposals.each do |proposal| %>
											<div "panel panel-default">
												<div class="panel-heading">
													<div class="row">
														<div class="col-md-4">
															<h3 class="panel-title">
																<%= proposal.user %>
															</h3>
														</div>
														<div class="col-md-4">
															<h3 class="panel-title">
																<%= number_to_currency(proposal.bid, precision:0) %>
															</h3>
														</div>
														<% if proposal.document.exists? %>
														  <div class="panel-title">
																<%= link_to "Download", proposal.document.url(:name, false), class: "btn btn-sm btn-default", target: "_blank" %>
														  </div>
														<% end %>
														<div class="col-md-4">
															<h3 class="panel-title">
																<%= proposal.created_at.strftime("%B, %d, %Y") %>
															</h3>
														</div>
													</div>
												</div>
												<div class="panel-body">
													<%= proposal.description %>
												</div>
												<% if current_user == @gig.user && @gig.awarded_proposal.blank? %>
													<div class="panel-footer">
														<%= form_for @gig, method: :put do|f| %>
															<%= f.hidden_field :awarded_proposal, value: proposal.id %>
															<%= f.hidden_field :open, value: false %>
															<%= f.submit "Propuesta Ganadora" %>
														<% end %>
													</div>
												<% end %>
											</div>
										<% end %>
									<% else %>
									<% end %>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="section job-short-info">
								<h1>Información Rapida</h1>
								<ul>
									<li><span class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></span>Posteado: Hace <%= time_ago_in_words(@gig.created_at) %></li>
									<li><span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span> Empleador: Lance Ladaga</li>
									<li><span class="icon"><i class="fa fa-industry" aria-hidden="true"></i></span>Industria: <%= @gig.category.name %></li>
									<li><span class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>Experiencia: No Requerida</li>
								</ul>
							</div>
							<div class="section company-info">
								<h1>Información de Empresa</h1>
								<ul>
									<li>Nombre: <a href="#">Dropbox Inc</a></li>
									<li>Dirección: London, United Kingdom</li>
									<li>Industria: <a href="#">Technology</a></li>
									<li>Teléfono: +1234 567 8910</li>
									<li>Email: <a href="#">info@dropbox.com</a></li>
									<li>Website: <a href="#">www.dropbox.com</a></li>
								</ul>
							</div>
						</div>
					</div><!-- row -->
				</div><!-- job-details-info -->
			</div><!-- job-details -->
		</div><!-- container -->
	</section><!-- job-details-page -->
